<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Estimate</title>
    <style>
        .main {
            position: absolute;
            padding-left: 25%;
            width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .secondary {
            width: 522px;
        }
        
        .title1 {
            font-weight: bold;
            color: #707070;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
        }
        
        .subtitle1 {
            color: #707070;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px
        }
        
        .content1 {
            margin-left: 120px;
            margin-top: -5px
        }
        
        .content2 {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            width: 230px;
            margin-left: 100px;
        }
    </style>
</head>

<body>
    <div class="main">
        <img src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585294569/ImagesGA/Captura_de_pantalla_2020-03-24_a_la_s_19.26.09_dtiixu.png" />
        <div class="secondary">
            <p class="subtitle1">
            Great! You have approved your estimate. We'll contact you soon with next steps!
            </p>
            
        </div>

        <div style="margin-top:0px">
            <br/>
            <p style="text-decoration: none; color: #00A863; font-family: Arial, Helvetica, sans-serif; font-size: 20px" href="http://">Want to make another estimate?</p>
        </div>
        <div style="width: 490px;">
            <p style="letter-spacing: 0; color: #707070; font-family: Arial, Helvetica, sans-serif; font-size: 20px">
                Click on the following button to send us a request for another estimate.
            </p>
        </div>
        <a href="https://www.greenacorn.com/" style=" margin-left:150px;padding: 20px;text-decoration: none;border: none; font-family: Arial, Helvetica, sans-serif; border-radius: 4px;  background-color: #00A863; color: white; font-size: 18px;">Get free quote</a>
        <br>
        <br>
        <br>

        <div>
            <br>
            <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_2_snkfws.png" alt="elite">
            <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_3_gveepq.png" alt="houzz">
            <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_4_zkdowq.png" alt="accredited">
            <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_5_uapttm.png" alt="accredited">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="content1">
            <a href="https://www.facebook.com/GreenAcornContracting/">
                <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_6_tdwknw.png" alt="elite">
            </a>
            <a href="https://www.instagram.com/greenacorncontracting/">
                <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_7_oozhoi.png" alt="houzz">
            </a>
            <a href="https://twitter.com/GreenAcornC/">
                <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297019/ImagesGA/assets/Imagen_8_t6zdai.png" alt="accredited">
            </a>
            <a href="https://www.pinterest.com.mx/greenacorncontracting/">
                <img style="margin-left: 20px;" src="https://res.cloudinary.com/ironhackjorge/image/upload/v1585297018/ImagesGA/assets/Imagen_9_o7ixka.png" alt="accredited">
            </a>
        </div>
        <br>
        <br>
        <div class="content2">
            <p style="font-size: 12px; color:#707070;">Green Acorn</p>
            <p style="font-size: 12px; color:#707070;">809 N. West St</p>
            <p style="font-size: 12px; color:#707070;">Raleigh, NC 27603 (919) 600-0199</p>
            <p style="font-size: 12px; color:#707070;"><a href="https://www.greenacorn.com/privacy-policy">Privacy Policy</a> | <a href="https://www.greenacorn.com/terms">Terms of Use</a> </p>
            <p style="font-size: 12px; color:#707070;">©2020 Green Acorn</p>
        </div>
    </div>

</body>